In [2]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv(r"C:\Users\cm077\Downloads\healthcare_appointments_1200rows_10cols.csv")
df

,AppointmentID,PatientID,Age,Gender,Department,Doctor,AppointmentDate,City,ConsultationFee,VisitStatus
0,50001,12732,83,Female,Neurology,Dr. Rao,01-01-2023,Hyderabad,894,Completed
1,50002,19845,15,Female,Orthopedics,Dr. Rao,02-01-2023,Chennai,662,No Show
2,50003,13264,22,Female,Neurology,Dr. Singh,03-01-2023,Mumbai,1973,No Show
3,50004,14859,70,Female,General,Dr. Singh,04-01-2023,Chennai,1863,Completed
4,50005,19225,34,Female,Neurology,Dr. Kumar,05-01-2023,Bengaluru,1603,Completed
...,...,...,...,...,...,...,...,...,...,...
1195,51196,10243,4,Female,Pediatrics,Dr. Rao,10-04-2026,Hyderabad,1443,Completed
1196,51197,10374,69,Female,Neurology,Dr. Kumar,11-04-2026,Chennai,1696,No Show
1197,51198,14161,28,Female,Orthopedics,Dr. Kumar,12-04-2026,Delhi,379,Completed
1198,51199,12512,68,Female,General,Dr. Mehta,13-04-2026,Delhi,688,Completed
1199,51200,16514,35,Female,Pediatrics,Dr. Mehta,14-04-2026,Mumbai,765,Completed

In [6]:
df.shape

(1200, 10)

In [7]:
df.head()

,AppointmentID,PatientID,Age,Gender,Department,Doctor,AppointmentDate,City,ConsultationFee,VisitStatus
0,50001,12732,83,Female,Neurology,Dr. Rao,01-01-2023,Hyderabad,894,Completed
1,50002,19845,15,Female,Orthopedics,Dr. Rao,02-01-2023,Chennai,662,No Show
2,50003,13264,22,Female,Neurology,Dr. Singh,03-01-2023,Mumbai,1973,No Show
3,50004,14859,70,Female,General,Dr. Singh,04-01-2023,Chennai,1863,Completed
4,50005,19225,34,Female,Neurology,Dr. Kumar,05-01-2023,Bengaluru,1603,Completed

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   AppointmentID    1200 non-null   int64
 1   PatientID        1200 non-null   int64
 2   Age              1200 non-null   int64
 3   Gender           1200 non-null   object
 4   Department       1200 non-null   object
 5   Doctor           1200 non-null   object
 6   AppointmentDate  1200 non-null   object
 7   City             1200 non-null   object
 8   ConsultationFee  1200 non-null   int64
 9   VisitStatus      1200 non-null   object
dtypes: int64(4), object(6)
memory usage: 93.9+ KB

In [9]:
df.isna().sum().sort_values(ascending=False)

AppointmentID      0
PatientID          0
Age                0
Gender             0
Department         0
Doctor             0
AppointmentDate    0
City               0
ConsultationFee    0
VisitStatus        0
dtype: int64

In [10]:
df.duplicated().sum()

np.int64(0)

In [11]:
df.isna().sum()

AppointmentID      0
PatientID          0
Age                0
Gender             0
Department         0
Doctor             0
AppointmentDate    0
City               0
ConsultationFee    0
VisitStatus        0
dtype: int64

In [12]:
df['AppointmentDate'] = pd.to_datetime(df['AppointmentDate'], errors='coerce')

In [13]:
df.loc[df.sample(frac=0.03).index, 'City'] = np.nan
df.loc[df.sample(frac=0.03).index, 'Doctor'] = np.nan

In [14]:
df['City'] = df['City'].fillna(df['City'].mode()[0])
df['Doctor'] = df['Doctor'].fillna(df['Doctor'].mode()[0])

In [15]:
df['City'] = df['City'].str.strip().str.title()
df['Department'] = df['Department'].str.strip().str.title()
df['Doctor'] = df['Doctor'].str.strip().str.title()
df['VisitStatus'] = df['VisitStatus'].str.strip().str.title()

In [16]:
df.rename(columns={
    'AppointmentDate': 'appointment_date',
    'ConsultationFee': 'consultation_fee',
    'VisitStatus': 'visit_status'
}, inplace=True)

In [17]:
df = df.drop_duplicates()

In [18]:
df = df[df['consultation_fee'] > 0]

In [19]:
df.isna().sum()

AppointmentID         0
PatientID             0
Age                   0
Gender                0
Department            0
Doctor                0
appointment_date    720
City                  0
consultation_fee      0
visit_status          0
dtype: int64

In [20]:
df['total_bill'] = df['consultation_fee']

In [21]:
df['age_group'] = pd.cut(
    df['Age'],
    bins=[0,18,35,60,100],
    labels=['Child','Young Adult','Adult','Senior']
)

In [22]:
df['high_fee_visit'] = df['consultation_fee'] >= 1500